@import "../../App.scss";
.About {
  margin-top: 5rem;
  width: 70%;

  h1 {
    color: var(--first-color);
    margin-top: 1rem;
  }

  .Social {
    display: flex;
    flex-direction: column;
    img {
      width: 55px;
      height: 55px;
    }
    span {
      font-size: 20px;
      color: rosybrown;
    }
  }
}


