.Navbar {
  padding-top: 15px;
  width: 85%;
  margin: auto;
  .nav-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
  }

  button{
    background: linear-gradient(180deg,#fdc50f 26.71%,#fb982f 99.36%);
  }

  .nav-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(2, 255, 2);
    img{
      width: 80px;
      border-radius: 25px;
    }
  }

  .nav-list {
    list-style-type: none;
  }

  .nav-list:hover {
    cursor: pointer;
    color: rgb(9, 250, 9) !important;
    border-bottom: 2px solid rgb(2, 255, 2);
  }

  .N-logo {
    width: 5rem;
    border-radius: 25px;
  }

  .contact_socials {
    display: flex;
    column-gap: 16px;
    margin-top: 1rem;
}

.contact_social-link {
    background-color: var(--container-color);
    color: var(--title-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    transition: all 0.3s ease;
}

.contact_social-link:hover {
    background-color: var(--first-color);
    color: var(--text-white);
    height: 50px;
}
}
